server:
  port: 8080

spring:
  application:
    name: demo

  datasource:
    url: jdbc:mysql://shinkansen.proxy.rlwy.net:40321/railway?useSSL=false&serverTimezone=America/Sao_Paulo&useUnicode=true&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: hikari-railway

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  jackson:
    time-zone: America/Sao_Paulo
    date-format: dd/MM/yyyy HH:mm:ss

