server:
  port: 8080

spring:
  application:
    name: demo

  datasource:
    url: jdbc:h2:file:./data/meubanco
    driverClassName: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

  jackson:
    time-zone: America/Sao_Paulo
    date-format: dd/MM/yyyy HH:mm:ss
