<!-- Header -->
<app-header></app-header>

<!-- Banner -->
<section class="banner-wrapper">
  <app-banner-promocao></app-banner-promocao>
</section>

<!-- Filtro -->
<section class="filtro-wrapper">
  <app-filtro-busca></app-filtro-busca>
</section>

<!-- Sessões de livros -->
<main class="conteudo-home">
  <app-sessao-livros
    titulo="Novidade"
    [livros]="novidades">
  </app-sessao-livros>

  <app-sessao-livros
    titulo="Baseado nas suas últimas compras"
    [livros]="ultimasCompras">
  </app-sessao-livros>

  <app-sessao-livros
    titulo="Achamos que você vai amar isso"
    [livros]="sugestoes">
  </app-sessao-livros>
</main>

<!-- Footer -->
<app-footer></app-footer>
