:host {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  padding: 0 20px;
  box-sizing: border-box;
}


.stack {
  display: grid;
  grid-auto-rows: min-content; 
  gap: 72px;                   
}

app-sessao-livros {
  display: block;
  width: 100%;
}
