.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin: 24px;
}

.filtros select,
.filtros input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.filtros button {
  background: #5d2e71;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
