.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;             /* ocupa toda a largura do container */
  border-radius: 16px;
  overflow: hidden;
  margin: 0px 0;
  position: relative;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;             /* ocupa toda a largura do container */
  border-radius: 16px;
  overflow: hidden;
  margin: 0px 0;
  position: relative;
}

.banner img {
  width: 100%;             /* ocupa toda largura do banner */
  height: auto;            /* mantém proporção da imagem */
  display: block;
  border-radius: inherit;  /* opcional: bordas arredondadas iguais ao banner */
}

