<section class="resultado-wrap">
  <h2 class="titulo-pagina">Resultados da busca por {{ labelBusca }}</h2>

  <p *ngIf="carregando">Carregando...</p>
  <p *ngIf="!carregando && !erro && livros.length === 0">Nenhum livro encontrado.</p>
  <p *ngIf="erro">{{ erro }}</p>

  <div class="grid-cards" *ngIf="!carregando && livros.length > 0">
    <app-card-livro
      *ngFor="let l of livros"
      [id]="l.id!"
      [titulo]="l.titulo"
      [preco]="l.preco ?? 0"
      [acao]="'Ver detalhes'">
    </app-card-livro>
  </div>
</section>
