<div class="container">
  

  <div *ngIf="carregando" class="loading">
    Carregando livro...
  </div>

  <div *ngIf="!carregando && livro" class="conteudo">
    <h2>Parece que temos o que você procura: </h2>

    <div class="livro-container">
      

      <div class="info-livro">
        <h3>{{ livro.titulo }}</h3>
        
        <div class="avaliacao">
          ⭐⭐⭐⭐⭐ <span>{{ livro.avaliacao }}</span>
        </div>

        <p class="autor"><strong>Autor(a):</strong> {{ livro.autor }}</p> 

        <p class="preco"><strong>Preço:</strong> R$ {{ livro.preco }}</p>

        <p class="genero"><strong>Gênero:</strong> {{ livro.genero }}</p>

        <p class="descricao"><strong>Descrição:</strong> {{ livro.descricao }}</p>
        
        <button class="comprar">Comprar</button>

      </div>
    </div>

    <div class="voltar-container">
      <button class="voltar" (click)="voltarHome()">← Voltar para a Home</button>
    </div>

    <div class="banner">
      <div class="texto-banner">
        DIA NACIONAL DO LIVRO 📚  
        <br> COMPRE 1, LEVE 2
      </div>

      <img src="/cat.png" class="gatinho" alt="gatinho">
    </div>
  </div>

  <div *ngIf="!carregando && !livro" class="erro">
    Livro não encontrado.
  </div>
</div>
